@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

* {
  margin: 0;
}

.App {
  height: 100%;
  width: 100%;
  padding: 0;
}

#toggle {
  display: none;
}

@media screen and (max-width: 575px) {
  header {
    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 390px;
  }
  
  .navbar {
    background: #212629;
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
  }

  .nav-container {
    display: block;
    z-index: 10;
  }

  .menu-closed {
    height: 45px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }
  
  .menu-closed h4 {
    margin-left: 8px;
    color: #FBD136;
    font-family: 'Kaushan Script', cursive;
  }

  .label {
    margin-right: 8px;
    background: #FBD136;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle:checked + .nav-links {
    display: block;
  }

  .nav-links {
    text-align: left;
    z-index: 10;
    display: none;
  }

  .nav-links a {
      display: block;
      background: #212629;
      margin: 0;
      text-decoration: none;
      color: white;
      height: 35px;
      font-size: 14px;
      padding-left: 8px;
      z-index: 10;
  }

  .welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 200px;
    margin-top: 75px;
    z-index: 0;
  }

  .welcome-text {
    font-family: serif;
    font-style: italic;
  }

  .big-text {
    font-size: 24px;
    text-align: center;
    line-height: .9;
  }

  .welcome-box button {
    background: #FBD136;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 175px;
    font-weight: bold;
    font-size: 15px;
  }
}








@media screen and (min-width: 575px) and (max-width: 750px) {
  header {
    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    background: #212629;
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
  }

  .nav-container {
    display: block;
    z-index: 10;
    width: 575px;
  }

  .menu-closed {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }
  
  .menu-closed h4 {
    margin-left: 8px;
    color: #FBD136;
    font-family: 'Kaushan Script', cursive;
  }

  .label {
    margin-right: 8px;
    background: #FBD136;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle:checked + .nav-links {
    display: block;
  }

  .menu-open {
    width: 100vw;
  }

  .nav-links {
    text-align: left;
    z-index: 10;      
    display: none;
  }

  .nav-links a {
      display: block;
      background: #212629;
      margin: 0;
      text-decoration: none;
      color: white;
      height: 35px;
      font-size: 14px;
      padding-left: 8px;
      z-index: 10;
  }

  .welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 260px;
    width: 70%;
    margin-top: 175px;
    z-index: 0;
  }

  .welcome-text {
    font-size: 28px;
    font-family: serif;
    font-style: italic;
  }

  .big-text {
    font-size: 34px;
    text-align: center;
    line-height: .9;
  }

  .welcome-box button {
    background: #FBD136;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 175px;
    font-weight: bold;
    font-size: 15px;
  }
}







@media screen and (min-width: 750px) and (max-width: 1000px) {
  header {
    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    background: #212629;
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
  }

  .nav-container {
    display: block;
    z-index: 10;
    width: 575px;
  }

  .menu-closed {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }
  
  .menu-closed h4 {
    margin-left: 8px;
    color: #FBD136;
    font-family: 'Kaushan Script', cursive;
  }

  .label {
    margin-right: 8px;
    background: #FBD136;
    height: 30px;
    width: 60px;
    color: white;
    border-radius: 4px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #toggle:checked + .nav-links {
    display: block;
  }

  .menu-open {
    width: 100vw;
  }

  .nav-links {
    text-align: left;
    z-index: 10;      
    display: none;
  }

  .nav-links a {
      display: block;
      background: #212629;
      margin: 0;
      text-decoration: none;
      color: white;
      height: 35px;
      font-size: 14px;
      padding-left: 8px;
      z-index: 10;
  }

  .welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 260px;
    width: 70%;
    margin-top: 175px;
    z-index: 0;
  }

  .welcome-text {
    font-size: 28px;
    font-family: serif;
    font-style: italic;
  }

  .big-text {
    font-size: 34px;
    text-align: center;
    line-height: .9;
  }

  .welcome-box button {
    background: #FBD136;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 175px;
    font-weight: bold;
    font-size: 15px;
  }
}





@media screen and (min-width: 1000px) {
  header {
    background-image: url('https://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg');
    background-size: cover;
    width: 100vw;
    height: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar {
    width: 100vw;
    height: 45px;
    display: flex;
    justify-content: center;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-top: 20px;
  }

  .menu-closed {
    height: 45px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
  }
  
  .menu-closed h4 {
    margin-left: 8px;
    color: #FBD136;
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
  }

  .label {
    display: none;
  }

  .menu-open {
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;   
  }

  .nav-links {
    text-align: left;
    z-index: 10;      
    display: flex;
    margin-left: 250px;
  }

  .nav-links a {
      display: block;
      margin: 0;
      text-decoration: none;
      color: white;
      height: 35px;
      font-size: 14px;
      padding-left: 25px;
      padding-top: 35px;
      z-index: 10;
  }

  .welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 260px;
    width: 70%;
    margin-top: 175px;
    z-index: 0;
  }

  .welcome-text {
    font-size: 28px;
    font-family: serif;
    font-style: italic;
  }

  .big-text {
    font-size: 34px;
    text-align: center;
    line-height: .9;
  }

  .welcome-box button {
    background: #FBD136;
    color: white;
    border-radius: 4px;
    height: 50px;
    width: 175px;
    font-weight: bold;
    font-size: 15px;
  }
}